@import "assets/styles/general/helpers";
@import "assets/styles/general/variables";

.DeputyCard {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: res(20);

  &__avatar {
    width: res(80);
    height: res(80);
    margin-right: res(10);
    border-radius: 50%;
    overflow: hidden;
    border: res(5) solid $silver;

    img {
      display: block;
      max-width: 100%;
    }
  }

  &__name {
    margin-bottom: res(10);
    font-size: res(16);
    font-weight: $bold;
  }

  &__from {
    color: $primary;
    font-size: res(12);
  }
}
