// Dependencies
@import "general/reset";
@import "general/helpers";
@import "general/variables";

body {
  font-family: $default-font;
  color: $black;
  background-color: $white;
  font-size: res(14);
}

.container {
  width: 90vw;
  max-width: $notebook-max;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: $primary;
}
