// Dependencies
@import "reset";
@import "fonts";
@import "variables";

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

body {
  font-family: var(--pds-default-font);
  color: var(--pds-gray);
  background-color: var(--pds-white);
  font-size: 14px;
  font-weight: var(--pds-fw-regular);
}

.container {
  width: 90vw;
  max-width: var(--pds-notebook-max);
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: var(--pds-primary);
}
