// Colors
$black: #000;
$gray: #666;
$silver: #ccc;
$white: white;

// Fonts
$default-font: "Courier New", Courier, monospace;

// Responsive directives
$notebook-max: 1440px;
$tablet-max: 1024px;
$mobile-max: 720px;
