@import "assets/styles/general/variables";
@import "assets/styles/general/helpers";

.Header {
  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: res(20) 0;
  }

  &__logo {
    font-size: res(22);
    font-weight: $bold;
    color: $gray;
  }

  &__link {
    display: inline-block;
    padding: res(5) res(10);
    margin: 0 res(10);
    font-size: res(14);
    text-transform: uppercase;
  }
}
