.header {
  background-color: var(--pds-petroil);

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--pds-spacing-md) 0;
  }

  &__logo {
    font-size: var(--pds-fs-xl);
    font-weight: var(--pds-fw-bold);
    color: var(--pds-white);
  }

  &__link {
    display: inline-block;
    padding: var(--pds-spacing-xs) var(--pds-spacing-sm);
    margin: 0 var(--pds-spacing-sm);
    font-size: var(--pds-fs-sm);
    font-weight: var(--pds-fw-bold);
    text-transform: uppercase;
  }
}
